
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/rango.js"></script>

<h2>Index</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Control de notas</div>
                <div class="panel-body">
                    <form action="/" method="post">
                        <div class="col-sm-2"></div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Nombre</label>
                                <input type="text" required placeholder="Nombre del alumno" class="form-control" name="nombre" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Grado</label>
                                <input type="number" required placeholder="Grado" class="form-control" name="grado" />
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div>
                            <h5><strong>Matematica</strong></h5>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="number" id="m1" required placeholder="Nota 1" oninput="pruebam1(this);" class="form-control" name="nota1M" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="number" id="m2" required placeholder="Nota 2" oninput="pruebam2(this);" class="form-control" name="nota2M" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="number" id="m3" required placeholder="Nota 3" oninput="pruebam3(this);" class="form-control" name="nota3M" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <h5><strong>Ciencias</strong></h5>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="number" id="c1" required placeholder="Nota 1" oninput="pruebac1(this);" class="form-control" name="nota1C" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="number" id="c2" required placeholder="Nota 2" oninput="pruebac2(this);" class="form-control" name="nota2C" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="number" id="c3" required placeholder="Nota 3" oninput="pruebac3(this);" class="form-control" name="nota3C" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <h5><strong>Lenguaje</strong></h5>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="number" id="l1" required placeholder="Nota 1" oninput="pruebal1(this);" class="form-control"  name="nota1L" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="number" id="l2" required placeholder="Nota 2" oninput="pruebal2(this);" class="form-control" name="nota2L" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="number" id="l3" required placeholder="Nota 3" oninput="pruebal3(this);" class="form-control" name="nota3L" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <h5><strong>Tecnologia</strong></h5>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="number" id="t1" required placeholder="Nota 1" oninput="pruebat1(this);" class="form-control" name="nota1T" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="number" id="t2" required placeholder="Nota 2" oninput="pruebat2(this);" class="form-control" name="nota2T" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="number" id="t3" required placeholder="Nota 3" oninput="pruebat3(this);" class="form-control" name="nota3T" />
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-sm-5"></div>
                        <button type="submit" class="btn btn-primary">Calcular</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



